@media (max-width: 768px) {
  .container-custom.py-16 {
    padding-top: 60px;
    padding-bottom: 40px;
    display: block;
  }
  
  .footer-grid {
    padding-top: 0;
    gap: 2.5rem;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
}