/* Ocultar scrollbar del reviews-grid */
.reviews-grid::-webkit-scrollbar {
  display: none;
}

/* Truco para centrar las cards sin romper el scroll */
.reviews-grid app-review-google-card:first-child {
  margin-left: auto;
}

.reviews-grid app-review-google-card:last-child {
  margin-right: auto;
}

/* Ajuste móvil - quitar margen auto y añadir padding al final */
@media (max-width: 768px) {
  .reviews-grid app-review-google-card:first-child {
    margin-left: 0;
  }
  .reviews-grid app-review-google-card:last-child {
    margin-right: 0;
  }
  
  .reviews-grid::after {
    content: '';
    padding-right: 1.5rem;
  }
}